/*body {
    background-color: aqua;
}*/

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: x-large;
    background-color: gold;
    font-size: 40px;
}

#homeh1 {
    text-align: center;
    font-size: 80px;
    
}

.homecap {
    border: 2px solid rgb(209, 195, 195);
    margin-top: 10%;
    background-image: url(../images/pexels-photo-4194857.jpeg);
    padding: 20px;
    
}

.card1 {
    
    border: 2px solid snow;
    width: 25%;
    margin-top: 20px;
    text-align: center;
    background-color: seashell;
    border-radius: 2%;
    height: 25%;
    margin-left: 37.5%;
    font-weight: bold;
    
}

#rech {
    font-size: large;
    font-weight: 400;
}

.recbod {
    align-items: center;
    margin: 1%;
}

.sgif {
    display: block;
    padding: 5%;
    
    margin-left: 35%;
}

.carousel1 {
    display: inline-block;
}

.dropul {
    list-style: none;background-color: gold;
   display: flex;
   flex-direction: row;
   padding: 10px;
   border: 10px;
   margin: 10px;
   justify-content: center;
   font-size: larger;
   
   
}

ul li .drop {
    display: none;
    
    

}

ul li:hover .drop{  /*would display dropdown*/
    display: block;
}

a {
    text-decoration: none;
}

table, th, td {
    border: 2px solid burlywood;
}

td {
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: gold;
    width: 100%;
    text-align: center;
    
}

.nutrih {
    text-align: center;
}
